@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  background: url(../pictures/rock_peak_night_180523_1920x1080.jpg) fixed;
  font-family: "Montserrat";
  font-size: 50px;
  background-size: cover;
  color: white;
}

#smallNav {
  display: none;
}

h1 {
  padding: 10px;
  text-transform: uppercase;
}

hr {
  color: white;
}

#main-content {
  flex-direction: row;
  display: flex;
}

ul {
  display: flex;
  flex-direction: column;
}

ul > li {
  display: inline;
}

ul > li > a {
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  padding: 10px;
  transition-duration: 500ms;
  border-bottom-style: solid;
  border-color: rgba(255, 255, 255, 0);
  transition-duration: 500ms;
}

ul > li > a:hover {
  transition-duration: 500ms;
  padding-right: 25px;
  padding-bottom: 0;
  margin-left: 10px;
  margin-right: 10px;
}

#content {
  width: 70%;
  text-align: justify;
  font-size: 30px;
  overflow: auto;
  padding: 20px;
  margin-top: 2%;
  margin-left: 100px;
}


/* Especially for my laptop */

@media (max-width: 1536px) {
  h1 {
    font-size: 60px;
  }
  ul {
    font-size: 30px;
  }
  #content {
    height: 390px;
    width: 60%;
  }
}

@media (max-width: 1200px) {
  h1 {
    font-size: 50px;
  }
  #main-content {
    flex-direction: row;
  }
  #content {
    margin-left: 50px;
    width: 1050px;
    height: 450px;
  }
}

@media (max-width: 1024px) {
  #content {
    font-size: 20px;
    margin-left: 50px;
    width: 650px;
    height: 240px;
  }
  #main-content {
    flex-direction: row;
  }
  ul {
    font-size: 30px;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  ul {
    display: inline;
    padding-left: 15%;
  }

  #main-content {
    flex-direction: column;
    display: flex;
  }

  #content {
    width: 80%;
  }
}

@media (max-width: 320px) {
  body {
    font-size: 20px;
  }
  ul {
    display: none;
  }
  #main-content {
    flex-direction: column;
    display: flex;
  }
  h1 {
    text-align: center;
  }
  #smallNav {
    font-size: 15px;
    padding: 0;
    display: inline-block;
    margin-left: 5%;
  }
  #smallNav > li > a:hover {
    transition-duration: 500ms;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 0;
  }
  #content {
    margin-left: 20px;
    font-size: 15px;
    transform: translateX(0%);
    width: 75%;
    height: 230px;
    box-shadow: 3px 3px 20px 3px black;
    text-align: initial;
    transition-duration: 500ms;
  }
}
